/flex/flex/*.filters
/flex/flex/eiffel_bkp.flex
*.vcxproj.filters
*.vcxproj.user
/flex/flex/output.txt
/flex/flex/php.flex
/flex/flex/test.php
ipch
*.suo
*.sdf
*.opensdf
Debug
*output*
*.tab.c
*flex.c
*.dot
*.bat
/bison/*
