/flex/flex/*.filters
/flex/flex/eiffel_bkp.flex
/flex/flex/flex.vcxproj.filters
/flex/flex/flex.vcxproj.user
/flex/flex/output.txt
/flex/flex/php.flex
/flex/flex/test.php
ipch
*.suo
*.sdf
*.opensdf
Debug
*output*
*.tab.c
*.dot
*.bat
/bison/*